################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/TelaPrincipal/bin/Debug
/src/TelaPrincipal/obj/Debug
/src/NumeroPrimo/obj/Debug
/src/NumeroPrimo/bin/Debug
